@using Indico20.BusinessObjects
@model Indico20.BusinessObjects.Objects.BasicOrderBO
@{
    Layout = "~/Views/Shared/IndicoLayout.cshtml";
}
<head>
    <title>View Orders</title>
</head>
<body>
    <div class="container">
        <div  style="margin: 30px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Distributor</th>
                        <th>Purchase Order Number</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BasicOrderBO order in ViewBag.Orders)
                    {
                        <tr>
                            <td><a href="@Url.Action("ViewOrderDetail", "Home", new {id = order.ID})">@order.ID</a></td>
                            <td>@order.Date.ToLongDateString()</td>
                            <td>@order.Distributor</td>
                            <td>@order.PurchaseOrderNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

